<!DOCTYPE html>
<html>
<title>Atur Ulang Password</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">

<body>

<div class="w3-container w3-card">
	<h3 style="color: #ff5722">Shovee</h3>
</div>

<div class="w3-container">

		<form action="/resetpassword" method="POST" class="w3-container" style="margin-top: 64px">
	       	<input type="hidden" name="token" value="<%= token %>" />

	       	<p>
	       		<input class="w3-input w3-border" type="teaxt" name="email" value="<%= email %>" disabled />
	       	</p>
	       	<p>
    	 		<input class="w3-input w3-border" type="password" name="password" value="" placeholder="New password..." required />
	       	</p>
	       	<p>
	       		<input class="w3-input w3-border" type="password" name="password2" value="" placeholder="Confirm new password..." required />
	       	</p>

	       	<input class="w3-btn" style="background: #ff5722 !important;;color: #fff" type="submit" value="Reset Password" />
	   	</form>

</div>

</body>
