<!DOCTYPE html>
<html>
<title>Atur Ulang Password</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">

<body>

<div class="w3-container" style="position: relative;">

	
		<h4>success update password user <%= email %></h4>

</div>

</body>
